@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.header {
    overflow: hidden;
    padding: 10px 10px;
    display: flex;
    align-items: center;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 2px;
}

.logo {
    font-size: 10px;
    font-weight: bold;
}

.header a:hover {
    background-color: blue;
    color: white;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

.left-pan {
    padding-left: 7px;
}

.left-pan i {
    padding-left: 10px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.footer a {
    padding: 5px;
}

.sidebar a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #24292F;
}

.sidebar a.active {
    border-left: 2px solid #2070EB;
    background-color: #F7F7F7;
    font-weight: bold;
}

.sidebar ul li {
    padding: 4px 5px 4px 10px;
    margin: 0;
}

.sidebar ul li:hover {
    background-color: #F7F7F7;
}

.sidebar ul li img {
    padding-left: 5px;
    padding-right: 5px;
}

.searchbox::placeholder {
    color: white !important;
    opacity: 50% !important;
}

.sidebar .heading {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #57606A;
    padding-left: 5px;
    padding-bottom: 10px;
}

.div p {
    margin-bottom: 5px;
}

h5 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #57606A;
    padding-left: 5px;
    padding-bottom: 10px;
}

h2 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    color: #57606A;
    padding-left: 5px;
    padding-bottom: 10px;
}

.description {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #57606A;
}

.btn-custom {
    background-color: #F6F8F9;
    color: black;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}

.btn-custom:hover {
    background-color: #E6E8E9;
    color: black;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}

.subheader-logo {
    width: 80px;
}

.subheader-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #24292F;
}

.subheader-ypa {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #57606A;
}
input[type=text], select, textarea {
    width: 70% !important;
}
.form-check-label{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #57606A;
}
